
.logoMarca{
    width: 6em;
    height: 6em;
}

.mainIndex{
  margin-top: 25vh;
  height: 100%;
  display: flex;
  
}

.navIndex{
    background-color: #00e676;
}



#cards {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-areas: 
    "card card card";
    grid-gap: 2%;
    justify-items: center;
}

.card{
    border-radius: 3px;
    border: 1px solid black;
}


.footer {
    background-color: #00e676;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.logo-carrito{
  width: 2em;
  height: 2em; 
}
.logo-login{
    width: 2em;
    height: 2em; 
}
.btn-primary{
    background-color: #b2ff59;
    color: black;
    border-color: black;
}

.car-img{
    width: 80px;
    height: 80px;
}
.card-img-top{
    height: 200px;
}
.product-details{
    display: inline;
    margin: 5px;
}

#productosAgregados{
    width: 150em;
}


.inputCarrito{
    width: 5rem;
}

.modal-content{
    width: 50rem;
}
.container{
    display: block;
    margin: 20px;
}