
.logoMarca{
    width: 6em;
    height: 6em;
}

.mainIndex{
  margin-top: 25vh;
  height: 100%;
  display: flex;
  
}

.navIndex{
    background-color: rgba(155, 252, 155, 0.377);
}



#cards {
    display: grid;
    grid-template-columns: 4 fr 4fr 4fr;
    grid-template-areas: 
    "card card card";
    justify-content: space-between;
    grid-gap: 2%;
}
.card{
    border-radius: 3px;
    border: 1px solid black;
}


.footer {
    background-color: rgba(155, 252, 155, 0.377);
    padding: 30px;
    text-align: center;
    width: 100%;
}

.logo-carrito{
  width: 2em;
  height: 2em; 
}
.logo-login{
    width: 2em;
    height: 2em; 
}
.btn-primary{
    background-color: yellow;
    color: black;
    border-color: none;
}
.car-img{
    width: 80px;
    height: 80px;
}
.card-img-top{
    height: 200px;
}